---
name: "ci"

# yamllint disable-line rule:truthy
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - main

permissions:
  attestations: write
  id-token: write
  contents: write

jobs:
  ci:
    name: ci
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          # - gkdpixel deprecated, but also i386 only so it won't build without buildx
          - m17 # (deprecated)
          - magicmini
          - miyoomini # (deprecated)
          - my282
          - my355
          - rg35xx # (deprecated)
          - rg35xxplus
          - rgb30 # (deprecated)
          # - tg3040 now merged with tg5040, so we can't build it separately
          - tg5040
          - trimuismart # (deprecated)
          - zero28

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Clone the union repository
        run: git clone https://github.com/shauninman/union-${{ matrix.toolchain }}-toolchain

      - name: Move the codebase to the correct location
        run: |
          mkdir -p union-${{ matrix.toolchain }}-toolchain/workspace/repo
          mv *.c Makefile union-${{ matrix.toolchain }}-toolchain/workspace/repo

      - name: Pull the toolchain
        run: |
          docker pull savant/minui-toolchain:${{ matrix.toolchain }}
          touch .build
        working-directory: union-${{ matrix.toolchain }}-toolchain

      - name: Build the application
        run: |
          docker run -d -v "$(pwd)/workspace":/root/workspace savant/minui-toolchain:${{ matrix.toolchain }} tail -f /dev/null
          container_id="$(docker container ls | grep savant/minui-toolchain:${{ matrix.toolchain }} | awk '{print $1}')"
          docker exec --env PLATFORM=${{ matrix.toolchain }} "$container_id" bash -c "source /root/.bashrc && make -C /root/workspace/repo setup"
          docker exec --env PLATFORM=${{ matrix.toolchain }} "$container_id" bash -c "source /root/.bashrc && make -C /root/workspace/repo"
          docker container rm -f "$container_id"
        working-directory: union-${{ matrix.toolchain }}-toolchain

      - name: Ensure the binary exists
        id: binary
        run: |
          filename="$(grep ^TARGET union-${{ matrix.toolchain }}-toolchain/workspace/repo/Makefile | awk '{print $3}')-${{ matrix.toolchain }}"
          cp "union-${{ matrix.toolchain }}-toolchain/workspace/repo/$filename" "$filename"
          echo "filename=$filename" >> $GITHUB_OUTPUT

      - name: Attest Build Provenance
        uses: actions/attest-build-provenance@v2.4.0
        with:
          subject-path: "${{ steps.binary.outputs.filename }}"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.binary.outputs.filename }}
          path: ${{ steps.binary.outputs.filename }}

  release:
    name: release
    runs-on: ubuntu-24.04-arm
    needs: ci
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Generate Pattern
        id: pattern
        run: |
          pattern="$(grep ^TARGET Makefile | awk '{print $3}')"
          echo "pattern=$pattern" >> $GITHUB_OUTPUT

      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          path: dist
          pattern: ${{ steps.pattern.outputs.pattern }}-*
          merge-multiple: true

      - name: List Artifacts
        run: ls -l dist
